<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SynchronisationServiceSection" type="SynchronisationService.Configuration.ServiceSection, SynchronisationService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <SynchronisationServiceSection Mode="Timer" TimerInterval ="15">
    <Synchronisers>
      <Synchroniser Name="SyncData" ClientDirectory="D:\" ServerDirectory="\\READYSHARE\Rich N-Drive\Data" />
    </Synchronisers>
  </SynchronisationServiceSection>
</configuration>