<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SynchronisationServiceSection" type="SynchronisationService.Configuration.ServiceSection, SynchronisationService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <SynchronisationServiceSection TimerInterval ="15">
    <Pushers>
      <Pusher Name="Data" SourcePath="D:\" TargetPath="\\READYSHARE\Rich N-Drive\Data" />
    </Pushers>
  </SynchronisationServiceSection>
</configuration>